[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"
jupyter = "*"
requests = "*"
pgcli = "*"
questionary = "*"

[requires]
python_version = "3.12"
